html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 5px;
}

* {
  box-sizing: border-box;
  transition: 0.25s;
}

input {
  border: none;
  outline: none;
  z-index: 10;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.progressBar {
  z-index: 50;
}
